<!DOCTYPE html>
<html>
<head>
  <title>Demo</title>
</head>
<body>
  <a href="/demo/birds">See all birds</a>
  <form action="/demo" method="POST">
    <input type="text" name="city" placeholder="New York">
    <input type="text" name="state" placeholder="NY">
    <input type="submit">
  </form>
</body>
</html>
